<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Current Orders">
    <mat-selection-list #ordersList [multiple]="false">
      <mat-list-option *ngFor="let order of orders" [value]="order">
        <div class="mat-list-row" style="display:block;">
          Order made on<span [innerHtml]="order.createdOn | bold"></span>
          for <span [innerHtml]="order.cartProducts.length | bold"> products</span>
          with payment status: <span [innerHtml]="order.status | orderStatus| bold "></span>
        </div>
      </mat-list-option>
    </mat-selection-list>

    <p>
      Selected order - {{ordersList.selectedOptions.selected[0]?.value}}
    </p>

  </mat-tab>
  <mat-tab label="Past Orders">
    <!--<mat-selection-list #pastOders [multiple]="false">
      <mat-list-option *ngFor="let order of orders.pastOrders" [value]="order">
        
      </mat-list-option>
    </mat-selection-list>

    <p>
      Option selected: {{pastOrders.selectedOptions.selected[0]?.value}}
    </p>-->

  </mat-tab>
</mat-tab-group>
