<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2 class="text-center">About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          We design our shoes and gear to help you perform at peak level, so if they're not working exactly right for you, we've got you covered. We provide you 30 days to take your Footwear.com purchases for a trial run, confidently knowing you can return any item (some exceptions apply) for any reason within those 30 days..
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i> <strong>Can I exchange my Footwear.com order?</strong>
            The best way to exchange your order is to simply place a new order for the item you want—and return the item you already have.
          </li>
          <li>
            <i class="ri-check-double-line"></i><strong> How do I return a defective or faulty product?</strong>
            We stand behind our shoes and gear. If your item purchased on Footwear.com is potentially defective or faulty, and was purchased less than 30 days ago, start your return. If it's been more than 30 days, please call us to return your order.
          </li>
          <li>
            <i class="ri-check-double-line"></i> <strong>How do I return a Footwear store purchase?</strong>
            Purchases made at Footwear retail stores must be returned to the store. Please note that our store returns policies may differ from our online returns policies. Make sure that you ask the store if you have questions about their policies.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          The web application processes information about your visit using cookies to improve site performance,
          facilitate social media sharing and offer advertising tailored to your interests.
          By continuing to browse our site, you agree to the use of these cookies. For more information see our Privacy & Cookie Policy.
          You can adjust your preferences in Cookie Settings.
        </p>
      </div>
    </div>

  </div>
</section>

<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2 class="text-center">Contact</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <h4><fa-icon [icon]="faMapMarkedAlt"></fa-icon>Location:</h4>
            <p>Brown Bear 55 Street, Washington, DC 88121</p>
          </div>

          <div class="email">
            <h4><fa-icon [icon]="faEnvelope"></fa-icon>Email:</h4>
            <p>footwear@info.com</p>
          </div>

          <div class="phone">
            <h4><fa-icon [icon]="faPhoneSquare"></fa-icon>Call:</h4>
            <p>+1 5589 55488 55s</p>
          </div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section>
