<body class='snippet-body'>
  <div class="container rounded bg-white">
    <div class="primary-container">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center mt-3">
          <img class="rounded-circle" width="180px" src="https://cdn.pixabay.com/photo/2013/07/12/12/30/cogwheel-145804_960_720.png"><span class="font-weight-bold">Welcome,</span><span class="text-black-50">{{firstName}}</span><span>{{email}}</span>
          <div class="mt-2 text-center">
            <button class="action-button-custom" mat-stroked-button color="config-black-wheat" (click)="passSectionToggle = true; emailSectionToggle = false;">
              Change password
            </button>
          </div>
          <div class="mt-2 text-center">
            <button class="action-button-custom" mat-stroked-button color="config-black-wheat" (click)="passSectionToggle = false; emailSectionToggle = true;">
              Change email
            </button>
          </div>
          <div class="col mt-1 text-center">
            <div class="d-flex justify-content-center align-items-center mb-1">
              <section id="password-change-section">
                <form *ngIf="passSectionToggle" class="example-form" [formGroup]="passwordForm" #passFormDirective="ngForm">
                  <div class="row mt-1 full-width">
                    <div formGroupName="passwords">
                      <mat-form-field class="full-width mb-3" appearance="fill">
                        <mat-label>Enter password</mat-label>
                        <input matInput formControlName="password" type="password" name="password" id="password">
                        <mat-error class="validation-error" *ngIf="passwordForm.get('passwords.password').touched && passwordForm.get('passwords.password').errors?.required">* Password is required!</mat-error>
                        <mat-error class="validation-error" *ngIf="passwordForm.get('passwords.password').touched && passwordForm.controls.passwords.controls.password.hasError('minlength')">* Password cannot be less than 6 symbols!</mat-error>
                        <mat-error class="validation-error" *ngIf="passwordForm.get('passwords.password').touched && passwordForm.controls.passwords.controls.password.hasError('maxlength')">* Password cannot be more than 100 symbols!</mat-error>
                      </mat-form-field>
                      <mat-form-field class="full-width mb-3" appearance="fill">
                        <mat-label>New password</mat-label>
                        <input matInput formControlName="newPassword" type="password" name="newPassword" id="newPassword">
                        <mat-error class="validation-error" *ngIf="passwordForm.get('passwords.newPassword').touched && passwordForm.get('passwords.newPassword').errors?.required">* Password is required!</mat-error>
                        <mat-error class="validation-error" *ngIf="passwordForm.get('passwords.newPassword').touched && passwordForm.controls.passwords.controls.newPassword.hasError('minlength')">* Password cannot be less than 6 symbols!</mat-error>
                        <mat-error class="validation-error" *ngIf="passwordForm.get('passwords.newPassword').touched && passwordForm.controls.passwords.controls.newPassword.hasError('maxlength')">* Password cannot be more than 100 symbols!</mat-error>
                      </mat-form-field>
                      <mat-form-field class="full-width mb-3" appearance="fill">
                        <mat-label>Confirm new password</mat-label>
                        <input matInput formControlName="confirmPassword" type="password" name="confirmPassword" id="confirmPassword">
                        <mat-error class="validation-error" *ngIf="passwordForm.get('passwords.confirmPassword').touched && passwordForm.get('passwords.confirmPassword').errors?.required">* Password is required!</mat-error>
                        <mat-error class="validation-error" *ngIf="passwordForm.get('passwords.confirmPassword').touched && passwordForm.get('passwords.confirmPassword').errors?.passwordMismatch">* Password do not match!</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="mt-1 text-center save-btn">
                      <button mat-stroked-button [disabled]="passwordForm.invalid" class="action-button-custom" type="submit" color="config-black-wheat"(click)="changePassword(passwordForm.value, passFormDirective)">Update</button>
                    </div>
                  </div>
                </form>
              </section>
              <section id="email-change-section">
                <form *ngIf="emailSectionToggle" class="example-form" [formGroup]="emailForm" #emailFormDirective="ngForm">
                  <div class="row mt-1 full-width">
                    <mat-form-field class="full-width mb-3" appearance="fill" >
                      <mat-label>Enter new email</mat-label>
                      <input matInput formControlName="email" type="email" name="email">
                      <mat-error class="validation-error" *ngIf="emailForm.get('email').touched && emailForm.get('email').errors?.required">* Email is required</mat-error>
                      <mat-error class="validation-error" *ngIf="emailForm.get('email').touched && emailForm.get('email').errors?.pattern">* Email is invalid!</mat-error>
                      <mat-error class="validation-error" *ngIf="emailForm.get('email').touched && emailForm.controls.email.hasError('maxlength')">* Email cannot be more than 100 symbols!</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width mb-3" appearance="fill">
                      <mat-label>Confirm new email</mat-label>
                      <input matInput formControlName="confirmEmail" type="text" name="confirmEmail">
                      <mat-error class="validation-error" *ngIf="emailForm.get('confirmEmail').touched && emailForm.get('confirmEmail').errors?.required">* Email is required</mat-error>
                      <mat-error class="validation-error" *ngIf="emailForm.get('confirmEmail').touched && emailForm.get('confirmEmail').errors?.emailMismatch">* Emails do not match!</mat-error>
                      <mat-error class="validation-error" *ngIf="emailForm.get('confirmEmail').touched && emailForm.get('confirmEmail').errors?.pattern">* Email is invalid!</mat-error>
                    </mat-form-field>
                    <div class="mt-1 text-center save-btn">
                      <button mat-stroked-button [disabled]="emailForm.invalid" class="action-button-custom" type="submit" color="config-black-wheat" (click)="changeEmail(emailForm.value, emailFormDirective)">Update</button>
                    </div>
                  </div>
                </form>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-center align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
          </div>
          <form class="example-form" [formGroup]="form" (ngSubmit)="updateProfile(form)">
            <div class="row mt-1 full-width">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput formControlName="firstName" type="text" name="firstName" id="firstName">
                <mat-error class="validation-error" *ngIf="form.get('firstName').touched && form.get('firstName').errors?.required">* First name is required!</mat-error>
                <mat-error class="validation-error" *ngIf="form.get('firstName').touched && form.get('firstName').errors?.maxlength">* First name cannot be more than 100 symbols!</mat-error>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lastName" type="text" name="lastName" id="lastName">
                <mat-error class="validation-error" *ngIf="form.get('lastName').touched && form.get('lastName').errors?.required">* Last name is required!</mat-error>
                <mat-error class="validation-error" *ngIf="form.get('lastName').touched && form.get('lastName').errors?.maxlength">* Last name cannot be more than 100 symbols!</mat-error>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" name="phone">
                <mat-error class="validation-error" *ngIf="form.get('phone').touched && form.get('phone').errors?.required">* Phone is required!</mat-error>
                <mat-error class="validation-error" *ngIf="form.get('phone').touched && form.get('phone').errors?.maxlength">* Phone cannot be more than 20 symbols!</mat-error>
                <mat-error class="validation-error" *ngIf="form.get('phone').touched && form.get('phone').errors?.pattern">* Phone is invalid!</mat-error>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Street</mat-label>
                <textarea matInput formControlName="street" placeholder="Enter street and house number"></textarea>
                <mat-error class="validation-error" *ngIf="form.get('street').touched && form.get('street').errors?.required">* Street is required!</mat-error>
                <mat-error class="validation-error" *ngIf="form.get('street').touched && form.get('street').errors?.maxlength">* Street cannot be more than 100 symbols!</mat-error>
                <mat-error class="validation-error" *ngIf="form.get('street').touched && form.get('street').errors?.minlength">* Street cannot be less than 2 symbols!</mat-error>
              </mat-form-field>
              <div class="mb-3 separated-fields">
                <mat-form-field class="half-width" appearance="fill">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="example Berlin" formControlName="city">
                  <mat-error class="validation-error" *ngIf="form.get('city').touched && form.get('city').errors?.required">* City is required!</mat-error>
                  <mat-error class="validation-error" *ngIf="form.get('city').touched && form.get('city').errors?.maxlenght">* City cannot be more than 20 symbols!</mat-error>
                  <mat-error class="validation-error" *ngIf="form.get('city').touched && form.get('city').errors?.minlength">* City cannot be less than 2 symbols!</mat-error>
                </mat-form-field>
                <mat-form-field class="half-width" appearance="fill">
                  <mat-label>State</mat-label>
                  <input matInput placeholder="ex. California" formControlName="state">
                  <mat-error class="validation-error" *ngIf="form.get('state').touched && form.get('state').errors?.required">* State is required!</mat-error>
                  <mat-error class="validation-error" *ngIf="form.get('state').touched && form.get('state').errors?.maxlenght">* State cannot be more than 20 symbols!</mat-error>
                  <mat-error class="validation-error" *ngIf="form.get('state').touched && form.get('state').errors?.minlength">* State cannot be less than 2 symbols!</mat-error>
                </mat-form-field>
              </div>
              <div class="mb-3 separated-fields">
                <mat-form-field class="half-width" appearance="fill">
                  <mat-label>Country</mat-label>
                  <input matInput placeholder="ex. Spain" formControlName="country">
                  <mat-error class="validation-error" *ngIf="form.get('country').touched && form.get('country').errors?.required">* Country is required!</mat-error>
                  <mat-error class="validation-error" *ngIf="form.get('country').touched && form.get('country').errors?.maxlenght">* Country cannot be more than 20 symbols!</mat-error>
                  <mat-error class="validation-error" *ngIf="form.get('country').touched && form.get('country').errors?.minlength">* Country cannot be less than 2 symbols!</mat-error>
                </mat-form-field>
                <mat-form-field class="half-width" appearance="fill">
                  <mat-label>Zip/Postal Code</mat-label>
                  <input matInput placeholder="ex. 10001" formControlName="zipCode">
                  <mat-error class="validation-error" *ngIf="form.get('zipCode').touched && form.get('zipCode').errors?.required">* Zip/Postal code is required!</mat-error>
                  <mat-error class="validation-error" *ngIf="form.get('zipCode').touched && form.get('zipCode').errors?.maxlenght">* Zip/Postal code cannot be more than 20 symbols!</mat-error>
                  <mat-error class="validation-error" *ngIf="form.get('zipCode').touched && form.get('zipCode').errors?.minlength">* Zip/Postal cannot be less than 2 symbols!</mat-error>
                </mat-form-field>
              </div>
              <div class="mt-4 text-center save-btn">
                <button mat-stroked-button [disabled]="form.invalid" class="action-button-custom" type="submit" color="config-black-wheat">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
