<div #ordersContainer>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab id="current-orders" label="Current Orders">
      <mat-selection-list class="custom-height" #ordersList [multiple]="false"
        (selectionChange)="onOrderChange($event)">
        <mat-list-option *ngFor="let order of currentOrders | paginate:
      { itemsPerPage: ordersPerPage, currentPage: pageIndex }" [value]="order">
          <div class="mat-list-row">
            <ul class="mat-list-content">
              <li>
                <fa-icon class="calendar-icon" [icon]="faCalendarDay"></fa-icon>
                &nbsp;<span [innerHtml]="order.createdOn | bold"></span>
              </li>
              <li>
                <fa-icon class="item-icon" [icon]="faBox">
                </fa-icon> Items: <span [innerHtml]="order.cartProducts.length | bold"></span>
              </li>
              <li>
                <fa-icon class="payment-icons-cash" *ngIf="order.status === cashPayment" [icon]="faMoneyBill"></fa-icon>
                <fa-icon class="payment-icons-card" *ngIf="order.status === cardPayment" [icon]="faCreditCard">
                </fa-icon>
                &nbsp;<span [innerHtml]="order.status | orderStatus | bold "></span>
              </li>
            </ul>
          </div>
        </mat-list-option>
      </mat-selection-list>
      <section>
        <div class="mt-3 d-flex justify-content-between" *ngIf="selectedOrder">
          <button mat-stroked-button #sendEmailBtn (click)="sendEmail(sendEmailBtn)">Resend Email</button>
          <button mat-stroked-button (click)="viewOrder()">View
            Details</button>
        </div>
      </section>
      <section *ngIf="currentOrders?.length > ordersPerPage" class="row justify-content-md-center pagination-section">
        <div class="row-md-center">
          <pagination-controls class="custom-pagination" (pageChange)="pageIndex = $event" previousLabel=""
            nextLabel="">
          </pagination-controls>
        </div>
      </section>
    </mat-tab>
    <mat-tab class="past-orders" label="Past Orders">
      <mat-selection-list class="custom-height" #pastOrdersId [multiple]="false"
        (selectionChange)="onOrderChange($event)">
        <mat-list-option *ngFor="let order of pastOrders | paginate:
      { itemsPerPage: ordersPerPage, currentPage: pageIndexPastOrders }" [value]="order">
          <div class="mat-list-row">
            <ul class="mat-list-content">
              <li>
                <fa-icon class="calendar-icon" [icon]="faCalendarDay"></fa-icon>
                &nbsp;<span [innerHtml]="order.createdOn | bold"></span>
              </li>
              <li>
                <fa-icon class="item-icon" [icon]="faBox">
                </fa-icon> Items: <span [innerHtml]="order.cartProducts.length | bold"></span>
              </li>
              <li>
                <fa-icon class="payment-icons-cash" *ngIf="order.status === cashPayment" [icon]="faMoneyBill"></fa-icon>
                <fa-icon class="payment-icons-card" *ngIf="order.status === cardPayment" [icon]="faCreditCard">
                </fa-icon>
                &nbsp;<span [innerHtml]="order.status | orderStatus | bold "></span>
              </li>
            </ul>
          </div>
        </mat-list-option>
        <section>
          <div class="mt-3 d-flex justify-content-between" *ngIf="selectedOrder">
            <button mat-stroked-button #sendEmailBtn (click)="sendEmail(sendEmailBtn)">Resend Email</button>
            <button mat-stroked-button (click)="viewOrder()">View
              Details</button>
          </div>
        </section>
      </mat-selection-list>
      <section *ngIf="pastOrders?.length > ordersPerPage" class="row justify-content-md-center pagination-section">
        <div class="row-md-center">
          <pagination-controls class="custom-pagination" (pageChange)="pageIndexPastOrders = $event" previousLabel=""
            nextLabel="">
          </pagination-controls>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>
<div #details>
  <app-order-details [hidden]="!detailsToggle" [order]="selectedOrder" [deliveryInfo]="deliveryInfo"
    [totalPrice]="totalOrderPrice" (detailsToggleEvent)="closeDetailsSection($event)"></app-order-details>
</div>
