#mat-selection-list{
    min-height: 400px;
}
#mat-list-text{
    display: block;
}
.mat-body, .mat-body-1, .mat-typography, .custom-height{
    min-height: 55vh;
}

.mat-list-content{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.custom-pagination /deep/ .ngx-pagination .current {
    background-color: wheat;
}

.pagination-section{
    width:100%;
    justify-content: center;
    padding-top: 5px;
}

#pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}