<mat-tab-group mat-align-tabs="center">
  <mat-tab id="current-orders" label="Current Orders">
    <mat-selection-list class="custom-height" #ordersList [multiple]="false">
      <mat-list-option *ngFor="let order of currentOrders" [value]="order">
        <div class="mat-list-row" style="display:block;">
          Order made on <span [innerHtml]="order.createdOn | bold"></span>
          for <span [innerHtml]="order.cartProducts.length | bold"></span> products 
          with status: <span [innerHtml]="order.status | orderStatus| bold "></span>
        </div>
      </mat-list-option>
    </mat-selection-list>
    <p class="mt-3" *ngIf="ordersList.selectedOptions.selected[0]?.value">
      Order controls
      <button>View details</button>
    </p>

  </mat-tab>
  <mat-tab class="past-orders" label="Past Orders">
    <mat-selection-list class="custom-height" #pastOders [multiple]="false">
      <!-- <mat-list-option *ngFor="let order of pastOders" [value]="order">
        
      </mat-list-option> -->
    </mat-selection-list>
  </mat-tab>
</mat-tab-group>
