img {
  width: 200px;
  height: 180px;
  margin-top: 20px;
}
.card{
    align-items:center;
}
.conf-text-section{
    margin-top: 10px;
    margin-bottom: 15px;
}
p {
  text-align: center;
}
.conf-order-header {
  font-weight: bold;
}

