<div class="container-fluid">
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2013/07/13/10/08/green-156618_960_720.png" alt="Success image" />
    <section class="conf-text-section">
      <div class="conf-order-header">Order confirmed!</div>
      <div class="conf-order-body">We recieved your order, thank you! Thank you for being a great customer!</div>
      <div class="conf-order-body">You can to Menu/Orders to view your orders or </div>
      <div class="conf-order-footer">you can check your orders <a [routerLink]="['/orders']">here!</a></div>
    </section>
  </div>

</div>
