<body>

  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">

            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="{{selectedProduct.imageUrl}}" /></div>
            </div>

          </div>
          <div class="details col-md-6">
            <h3 class="product-title">{{selectedProduct.name}}</h3>
            <p class="product-description">{{selectedProduct.details}}</p>
            <h4 class="price">Price: <span>{{selectedProduct.price | currency}}</span></h4>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select size
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">36</button>
                <button class="dropdown-item" type="button">37</button>
                <button class="dropdown-item" type="button">38</button>
                <button class="dropdown-item" type="button">39</button>
                <button class="dropdown-item" type="button">40</button>
                <button class="dropdown-item" type="button">41</button>
                <button class="dropdown-item" type="button">42</button>
                <button class="dropdown-item" type="button">43</button>
                <button class="dropdown-item" type="button">44</button>
                <button class="dropdown-item" type="button">45</button>
                <button class="dropdown-item" type="button">46</button>
              </div>
            </div>
            <div class="action">
              <button class="add-to-cart btn btn-default" (click)="addToCart(selectedProduct)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
