.empty-cart-container{
    height: 90vh;
}
.empty-cart-image {
  width: 150px;
  margin-bottom: 10px;
  margin-top: 90px;
}
.image-resize {
  width: 50px;
  height: auto;
}

.bloc_left_price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

.category_block li:
{
  background-color: #007bff;
}

  .category_block li:hover a {
    color: #ffffff;
  }

.category_block li a {
  color: #343a40;
}

.add_to_cart_block .price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0;
}

.add_to_cart_block .price_discounted {
  color: #343a40;
  text-align: center;
  text-decoration: line-through;
  font-size: 140%;
}

.product_rassurance {
  padding: 10px;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #6c757d;
  color: #6c757d;
}

  .product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
  }

    .product_rassurance .list-inline li:hover {
      color: #343a40;
    }

.reviews_product .fa-star {
  color: gold;
}

.pagination {
  margin-top: 20px;
}

footer {
  background: #343a40;
  padding: 40px;
}

  footer a {
    color: #f8f9fa !important
  }

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .infoIcon {
    text-align:start;
  }
}

.card-details {
    display: flex;
}

.card-text {
    width:50%;
}
.infoIcon {
    text-align: center;
    font-size: 22px;
    color: black;
}
.card {
    text-align:center;
}


/*CDK Accordion*/
.example-accordion {
  display: block;
  width:100%;
}

.example-accordion-item {
  display: block;
  border: solid 2px #ccc;
  margin-bottom: 10px;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
  justify-content: center;
}
.accordion-product-details-handler {
  justify-content: center;
}

.quantity-paragraph {
  display: inline-block;
  margin-right: 5px;
}
.price-paragraph {
  display: inline-block;
  margin-right: 5px;
}

.example-accordion-item-body {
  background-color: RGBA(255,255,212,0.15);
}
.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

  .example-accordion-item-header:hover {
    cursor: pointer;
    background-color: rgb(245,222,179, 0.4);
  }

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.accordion-picture-frame{
    max-width:200px;
}
.accordion-picture-frame-img {
  max-width: 200px;
}

.accordion-product-details {
  display: block;
  width: 70%;
}
.accordion-product-details p {
  margin-bottom: 5px;
}
.accordion-product-details-actions {
  background-color: rgb(252,246,235);
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}
.accordion-product-details-action-buttons {
  width:50%;
  height:50px;
  text-align:center;
}
a {
  text-decoration: none;
  color: black;
}
.remove-from-cart-action {
    color: darkred;
}
.accordion-details-section {
    display: flex;
    width:100%;
    flex-direction:row;
    justify-content: space-between;
}
.accordion-description {
    width:50%;
}
.accordion-actions-menu {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.action-button {
  display: flex;
  width: 155px;
  height: 33px;
  margin: 3px;
  padding: 3px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
}

/*No cursor highlighting class*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.finalize-buttons{
    margin-top: 10px;
}

/*Success mat button custom color
*/
.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #155724;
}

  .mat-button.mat-success:hover,
  .mat-stroked-button.mat-success:hover {
    background-color: #f0fff3;
  }

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color: #155724;
}
