  
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Your current saved products in cart</h1>
  </div>
</section>
<div *ngIf="cartProducts?.length" class="row">

  <cdk-accordion class="example-accordion">
    <cdk-accordion-item *ngFor="let item of cartProducts; let index = index;"
                        #accordionItem="cdkAccordionItem"
                        class="example-accordion-item"
                        role="button"
                        tabindex="0"
                        [attr.id]="'accordion-header-' + index"
                        [attr.aria-expanded]="accordionItem.expanded"
                        [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header noselect" (click)="accordionItem.toggle(); scrollToAccordion(index, accordionItem);">
        <div class="accordion-picture-frame">
          <img class="accordion-picture-frame-img" src="{{item?.imageUrl}}" />
        </div>
        <div class="accordion-product-details">
          <p>{{item.name}}</p>
          <p class="quantity-paragraph">Quantity:</p>
          <p style="display:inline-block" id="{{'quantity' + index}}"> {{item.quantity}}</p>
          <p>Price: {{item.price | currency}}</p>
          <p>Size: {{item.size}}</p>
        </div>

      </div>
      <div class="accordion-product-details-handler">
        <span class="example-accordion-item-description row justify-content-md-center">
          Click to {{ accordionItem.expanded ? 'close details' : 'open details' }}
        </span>
      </div>
      <div class="example-accordion-item-body"
           role="region"
           [style.display]="accordionItem.expanded ? '' : 'none'"
           [attr.id]="'accordion-body-' + index"
           [attr.aria-labelledby]="'accordion-header-' + index">
        <section class="accordion-details-section">
          <div class=".accordion-description">
            <p>Description: {{item.details}}</p>
            <p>Good for: {{item.productType}} </p>
            <p class="quantity-paragraph"> Total price:</p>
            <p id="{{'totalPrice' + index}}" style="display:inline">{{item.price * item.quantity}}</p>
            <p style="display:inline">$</p>
          </div>
          <div class=".accordion-actions-menu">
            <button class="action-button btn btn-light" (click)="viewProduct(item.productId)">View product</button>
            <button class="action-button btn btn-light" (click)="incrementQuantity(item, index)">Add</button>
            <button class="action-button btn btn btn-light" (click)="decrementQuantity(item, index)">Remove one</button>
            <button class="action-button btn btn-danger" (click)="deleteProduct(item, index)">Remove from cart</button>
          </div>
        </section>
        
      </div>

    </cdk-accordion-item>
  </cdk-accordion>
</div>

    <section class="col mb-2 finalize-buttons" *ngIf="cartProducts?.length">
      <div class="row">
        <div class="col-sm-12  col-md-6" >
          <button class="btn btn-block" mat-stroked-button color="warn" [routerLinkActive]="['link-active']" [routerLink]="['/products']">Continue Shopping</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button class="btn btn-block" mat-stroked-button color="success" [routerLinkActive]="['link-active']" [routerLink]="['/about']" (click)="onCheckOut()">Place order</button>
        </div>
      </div>
    </section>

<div class="container text-center alert alert-danger" *ngIf="!cartProducts?.length">
  It'seems that you shoping cart is empty.Go back to the products from
  <a class="text-black alert-link" routerLink="/products" routerLinkActive="active" [routerLinkActive]="['link-active']">
    here.
  </a>
</div>

<mat-progress-spinner *ngIf="loading | async" [mode]="'indeterminate'"></mat-progress-spinner>
