
.image-resize {
  width: 50px;
  height: auto;
}

.bloc_left_price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

.category_block li:hover {
  background-color: #007bff;
}

  .category_block li:hover a {
    color: #ffffff;
  }

.category_block li a {
  color: #343a40;
}

.add_to_cart_block .price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0;
}

.add_to_cart_block .price_discounted {
  color: #343a40;
  text-align: center;
  text-decoration: line-through;
  font-size: 140%;
}

.product_rassurance {
  padding: 10px;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #6c757d;
  color: #6c757d;
}

  .product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
  }

    .product_rassurance .list-inline li:hover {
      color: #343a40;
    }

.reviews_product .fa-star {
  color: gold;
}

.pagination {
  margin-top: 20px;
}

footer {
  background: #343a40;
  padding: 40px;
}

  footer a {
    color: #f8f9fa !important
  }

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .infoIcon {
    text-align:start;
  }
}

.card-details {
    display: flex;
}

.card-text {
    width:50%;
}
.infoIcon {
    text-align: center;
    font-size: 22px;
    color: black;
}
.card {
    text-align:center;
}


/*CDK Accordion*/
.example-accordion {
  display: block;
  width:100%;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

  .example-accordion-item + .example-accordion-item {
    border-top: none;
  }

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
  justify-content: center;
}
.accordion-product-details-handler {
  justify-content: center;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

  .example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
  }

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.accordion-picture-frame{
    max-width:200px;
}
.accordion-picture-frame-img {
  max-width: 200px;
}

.accordion-product-details {
  display: block;
  width: 70%;
}
.accordion-product-details p {
  margin-bottom: 5px;
}
.accordion-product-details-actions {
  background-color: rgb(252,246,235);
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}
.accordion-product-details-action-buttons {
  width:50%;
  height:50px;
  text-align:center;
}
a {
  text-decoration: none;
  color: black;
}
.remove-from-cart-action {
    color: darkred;
}
