  
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Your current saved products in cart</h1>
  </div>
</section>
<div *ngIf="cartProducts?.length" class="row">

  <cdk-accordion class="example-accordion">
    <cdk-accordion-item *ngFor="let item of cartProducts; let index = index;"
                        #accordionItem="cdkAccordionItem"
                        class="example-accordion-item"
                        role="button"
                        tabindex="0"
                        [attr.id]="'accordion-header-' + index"
                        [attr.aria-expanded]="accordionItem.expanded"
                        [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        <div class="accordion-picture-frame">
          <img class="accordion-picture-frame-img" src="{{item?.imageUrl}}" />
        </div>
        <div class="accordion-product-details">
          <p>{{item.name}}</p>
          <p>Quantity: {{item.quantity}}</p>
          <p>Price: {{item.price | currency}}</p>
          <p>Size: {{item.size}}</p>
          <span class="example-accordion-item-description">
            Click to {{ accordionItem.expanded ? 'close' : 'open' }}
          </span>
        </div>

      </div>
      <div class="example-accordion-item-body"
           role="region"
           [style.display]="accordionItem.expanded ? '' : 'none'"
           [attr.id]="'accordion-body-' + index"
           [attr.aria-labelledby]="'accordion-header-' + index">
        <div class="accordion-product-details">
          <p>Details: {{item.details}}</p>
          <p>Total Price: {{item.price * item.quantity | currency}}</p>
          <p>Product Type: {{item.productType}} </p>
        </div>
        <div class="accordion-product-details-actions">
          <a class="accordion-product-details-action-buttons quantity-modify">+/- Quantity</a>
          <a class="accordion-product-details-action-buttons remove-from-cart-action">Remove from cart</a>
        </div>
      </div>

    </cdk-accordion-item>
  </cdk-accordion>


  <!--<div *ngFor="let product of cartProducts" class="card column">
    <img src="{{product?.imageUrl}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <div class="card-details">
        <p class="card-text">
          Size: {{product.size}}
        </p>
        <p class="card-text">
          Price: {{product.price * product.quantity| currency}}
        </p>
      </div>

      <div class="card-details">
        <p class="card-text">
          Quantity: {{product.quantity}}
        </p>
        <p class="card-text">
          <ngb-accordion [closeOthers]="true" activeIds="static-0" animation="true">
            <ngb-panel id="static-1" title="View Details">
              <ng-template ngbPanelContent>
                {{product.details}}
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </p>
      </div>


      <div class="mb-2">
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6 mb-2">
            <span class="align-middle glyphicon glyphicon-star"
                  aria-hidden="true"></span>
            <span class="align-middle glyphicon glyphicon-star"
                                                   aria-hidden="true"></span>
            <span class="align-middle glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="align-middle glyphicon glyphicon-star" aria-hidden="true"></span> <span class="align-middle glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
    </div>
    </div>-->
</div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <button class="btn btn-block btn-light">Continue Shopping</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <!--<button class="btn btn-block btn-success" (click)="onCheckOut()">Checkout</button>-->
        </div>
      </div>
    </div>

<div class="container text-center alert alert-danger" *ngIf="!cartProducts?.length">
  It'seems that you shoping cart is empty.Go back to the products from
  <a class="text-black alert-link" routerLink="/products" routerLinkActive="active" [routerLinkActive]="['link-active']">
    here.
  </a>
</div>

