.container {
  width: 100%;
}
.title {
  justify-content: center;
}
.user-information {
  display: flex;
  width:50%;
  justify-content: space-between;
}
.product-image {
  height: 85px;
  width: auto;
  object-fit: cover;
  margin: 10px;
}
.delivery-info{
    width: 100%;
}
ul {
  list-style-type: none;
  text-align: right;
  margin-top: 5px;
}
.example-section {
  margin-bottom: 8px;
}
.mat-button-toggle-group {
  margin-left: 12px;
}
.payment-options {
  align-content: center;
  justify-content: center;
}
.cash-icon {
  margin-right: 2px;
  color: #1e6144;
}

.card-footer-with-margin {
  margin-top: 144px;
}
.card-footer-without-margin {
  margin-top: 10px;
}
.card-icon {
  margin-right: 2px;
  color: #183963;
}
.all-products-card{
    min-height: 70vh;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.first-stepper-conf-btn{
    display:contents;
}

table {
  width: 100%;
}
