.container {
  width: 100%;
}
.title {
  justify-content: center;
}
.user-information {
  display: flex;
  width:50%;
  justify-content: space-between;
}
.example-h2 {
  margin: 10px;
}

/*@media only screen and (max-width: 995px) {
  .half-width {
    width: 100%;
  }
}*/
