.container {
  width: 100%;
}
.title {
  justify-content: center;
}
.user-information {
  display: flex;
  width:50%;
  justify-content: space-between;
}
.product-image {
  height: 85px;
  width: auto;
  object-fit: cover;
  margin: 10px;
}
ul {
  list-style-type: none;
  text-align: right;
  margin-top: 5px;
}
