<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Products</ng-template>
    <mat-card class="all-products-card">
      <label class="text-center">
        All Products:
      </label>
      <p><small>Please, reconfirm all products before ordering.</small></p>
      <mat-card-content class="content-fixed-min-height">
        <div class="d-flex flex-column justify-content-between">
          <mat-card class="p-2 d-flex justify-content-between"  *ngFor="let item of cartProducts">
            <div>
              <img class="product-image" src="{{item.imageUrl}}" alt="Product Image">
            </div>
            <ul class="font-weight-light">
              <li>{{item.name}} </li>
              <li>Size: {{item.size}}</li>
              <li>{{item.quantity}} x</li>
              <li>Price: {{item.price}}$</li>
              <li class="bold" *ngIf="item.quantity > 1">Total: {{+item.price * item.quantity}}$</li>
            </ul>
          </mat-card>
        </div>
      </mat-card-content>
      <mat-card-footer class="card-footer-without-margin mb-1">
        <div class="conf-div-centered">
          <button mat-button matStepperNext>Confirm products <fa-icon class="ml-1" [icon]="faArrowCircleRight"></fa-icon></button>
        </div>
      </mat-card-footer>
      <!--<mat-card-footer class="card-footer-with-margin mb-1" *ngIf="cartProducts?.length < 3">
        <div class="conf-div-centered">
          <button mat-button matStepperNext>Confirm products <fa-icon class="ml-1" [icon]="faArrowCircleRight"></fa-icon></button>
        </div>
      </mat-card-footer>
      <mat-card-footer class="card-footer-without-margin mb-1" *ngIf="cartProducts?.length >= 3">
        <div class="conf-div-centered">
          <button mat-button matStepperNext>Confirm products <fa-icon class="ml-1" [icon]="faArrowCircleRight"></fa-icon></button>
        </div>
      </mat-card-footer>-->
    </mat-card>
  </mat-step>
  
  <mat-step>
    <ng-template matStepLabel>Price</ng-template>
    <mat-card class="p-2 d-flex mt-2 mb-2">
      <mat-card-content class="delivery-info">
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let product"> {{product.name}} </td>
            </ng-container>
            <ng-container matColumnDef="size">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
              <td mat-cell *matCellDef="let product"> {{product.size}} </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
              <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
              <td mat-cell *matCellDef="let product"> {{product.price}} </td>
            </ng-container>
            <ng-container matColumnDef="totalPerItem">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
              <td mat-cell *matCellDef="let product"> {{product.price * product.quantity}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="row">
          <ul class="col-sm-4 mt-2">
            <li><fa-icon class="cash-icon" [icon]="faShippingFast"></fa-icon> Shipping aproximate time</li>
            <li>{{deliveryInfo.minDelivery}} - {{deliveryInfo.maxDelivery}} days.</li>
          </ul>
          <ul class="col-sm-4">
            <li><fa-icon class="cash-icon" [icon]="faDollarSign"></fa-icon> Delivery Price:</li>
            <li>{{deliveryInfo.deliveryPrice}}$</li>
          </ul>
          <ul class="col-sm-4">
            <li><fa-icon class="cash-icon" [icon]="faHandFoldingUsd"></fa-icon> Total price:</li>
            <li>{{totalPrice}}$</li>
          </ul>
        </div>
        <div class="card-footer-with-margin mb-1" *ngIf="cartProducts?.length < 3">
          <div class="conf-div-centered">
            <button mat-button matStepperPrevious>Go back <fa-icon class="ml-1" [icon]="faArrowCircleLeft"></fa-icon></button>
            <button mat-button matStepperNext>Confirm price <fa-icon class="ml-1" [icon]="faArrowCircleRight"></fa-icon></button>
          </div>
        </div>
        <div class="card-footer-without-margin mb-1" *ngIf="cartProducts?.length >= 3">
          <div class="conf-div-centered">
            <button mat-button matStepperPrevious>Go back <fa-icon class="ml-1" [icon]="faArrowCircleLeft"></fa-icon></button>
            <button mat-button matStepperNext>Confirm price <fa-icon class="ml-1" [icon]="faArrowCircleRight"></fa-icon></button>
          </div>
        </div>
      </mat-card-content>
      
    </mat-card>
    
  </mat-step>
  <mat-step [stepControl]="form">
    <ng-template matStepLabel>Address</ng-template>
    <mat-card>
      <mat-card-content>
        <section class="example-section">
          <h5 class="text-center d-block m-1">Please enter delivery address and name for the invoice!</h5>
          <div class="mt-3 ml-3">
            <label class="mr-2">Import data from your account?</label>
            <mat-radio-group [(ngModel)]="labelPosition" (change)="handleImports($event)">
              <mat-radio-button class="mr-1 mb-1" value="import">Import</mat-radio-button>
              <mat-radio-button class="mr-1 mb-1" value="notImport">Do not import</mat-radio-button>
            </mat-radio-group>
          </div>
        </section>
        <section class="form">
          <form [formGroup]="form" (ngSubmit)="submitData(form)">
            <mat-form-field class="col-lg-6" appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">
              <mat-error class="validation-error" *ngIf="form.get('firstName').touched && form.get('firstName').errors?.required">* First name is required!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('firstName').touched && form.get('firstName').errors?.maxlength">* First name cannot be more than 100 symbols!</mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
              <mat-error class="validation-error" *ngIf="form.get('lastName').touched && form.get('lastName').errors?.required">* Last name is required!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('lastName').touched && form.get('lastName').errors?.maxlength">* Last name cannot be more than 100 symbols!</mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone">
              <mat-error class="validation-error" *ngIf="form.get('phone').touched && form.get('phone').errors?.required">* Phone is required!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('phone').touched && form.get('phone').errors?.maxlength">* Phone cannot be more than 20 symbols!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('phone').touched && form.get('phone').errors?.pattern">* Phone is invalid!</mat-error>

            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
              <mat-label>Street</mat-label>
              <input matInput formControlName="street">
              <mat-error class="validation-error" *ngIf="form.get('street').touched && form.get('street').errors?.required">* Street is required!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('street').touched && form.get('street').errors?.maxlength">* Street cannot be more than 100 symbols!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('street').touched && form.get('street').errors?.minlength">* Street cannot be less than 2 symbols!</mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
              <mat-label>City</mat-label>
              <input matInput formControlName="city">
              <mat-error class="validation-error" *ngIf="form.get('city').touched && form.get('city').errors?.required">* City is required!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('city').touched && form.get('city').errors?.maxlenght">* City cannot be more than 20 symbols!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('city').touched && form.get('city').errors?.minlength">* City cannot be less than 2 symbols!</mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
              <mat-label>State</mat-label>
              <input matInput formControlName="state">
              <mat-error class="validation-error" *ngIf="form.get('state').touched && form.get('state').errors?.required">* State is required!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('state').touched && form.get('state').errors?.maxlenght">* State cannot be more than 20 symbols!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('state').touched && form.get('state').errors?.minlength">* State cannot be less than 2 symbols!</mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
              <mat-label>Country</mat-label>
              <input matInput formControlName="country">
              <mat-error class="validation-error" *ngIf="form.get('country').touched && form.get('country').errors?.required">* Country is required!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('country').touched && form.get('country').errors?.maxlenght">* Country cannot be more than 20 symbols!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('country').touched && form.get('country').errors?.minlength">* Country cannot be less than 2 symbols!</mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-6" appearance="fill">
              <mat-label>Zip/Postal Code</mat-label>
              <input matInput formControlName="zipCode">
              <mat-error class="validation-error" *ngIf="form.get('zipCode').touched && form.get('zipCode').errors?.required">* Zip/Postal code is required!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('zipCode').touched && form.get('zipCode').errors?.maxlenght">* Zip/Postal code cannot be more than 20 symbols!</mat-error>
              <mat-error class="validation-error" *ngIf="form.get('zipCode').touched && form.get('zipCode').errors?.minlength">* Zip/Postal cannot be less than 2 symbols!</mat-error>
            </mat-form-field>
            <div class="row payment-options">
              <mat-button-toggle-group name="payment-select" formControlName="payment" aria-label="Font Style">
                <mat-button-toggle value="cash"><fa-icon class="cash-icon" [icon]="faMoneyBillWave"></fa-icon>Cash on Delivery</mat-button-toggle>
                <mat-button-toggle value="card"><fa-icon class="card-icon" [icon]="faCreditCard"></fa-icon>Credit Card</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            
            <div class="mt-3 mb-1">
              <div class="conf-div-centered">
                <button mat-button matStepperPrevious>Go back <fa-icon class="ml-1" [icon]="faArrowCircleLeft"></fa-icon></button>
                <button mat-button matStepperNext [disabled]="form.invalid" type="submit">Confirm order <fa-icon class="ml-1" [icon]="faArrowCircleRight"></fa-icon></button>
              </div>
            </div>
          </form>
        </section>
      </mat-card-content>
    </mat-card>
  </mat-step>

</mat-horizontal-stepper>
  
