<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <span class="navbar-border"></span>
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Footwear</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-black" routerLink="/products" routerLinkActive="active" [routerLinkActive]="['link-active']">
              Products
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/cart']">Cart</a>
          </li>
          <li *ngIf="!isAuthenticated()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['user/register']">
              Register
            </a>
          </li>
          <li *ngIf="!isAuthenticated()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['user/login']">
              Login
            </a>
          </li>
          <li *ngIf="isAuthenticated()" class="nav-item">
            <a class="nav-link">
              Welcome, {{ userService.userName  }}!
            </a>
          <li *ngIf="isAuthenticated()" class="nav-item">
            <a  class="logout-link nav-link" (click)="onLogout()">
              Logout
            </a>
        </ul>
      </div>
    </div>
  </nav>
</header>
