

.active {
    color: green;
}

header {
    font-family: Merriweather;
    font-size: 20px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
    background-color: #2c343c;
  }
}
/*.navbar {
  background-color: rgb(204, 229, 255) !important;

}*/

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.nav-link  {
    color: wheat !important;
}
.navbar-brand {
    color: wheat;
    font-weight:600;
}

.logout-link {
    color: firebrick !important;
    cursor: pointer !important;
}
.overline-link {
  text-decoration: overline !important;
}
