
fa-icon{
    margin-right: 4px;
}
.active {
  color: green;
}

header {
    font-family: Merriweather;
    font-size: 18px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 16px;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.nav-link  {
    color: wheat !important;
    cursor: pointer !important;
}
.nav-link:hover {
  color: white !important;
}
.navbar-brand {
    color: wheat;
    font-weight:600;
}

.logout-link {
    color: firebrick !important;
    cursor: pointer !important;
}
.overline-link {
  text-decoration: overline !important;
}

