<div class="container-fluid">
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2012/05/07/02/13/cancel-47588_960_720.png" alt="Declined image" />
    <section class="conf-text-section">
      <div class="conf-order-header">Oops something went wrong!</div>
      <div class="conf-order-body">Order payment declined, unsuccessful or canceled!</div>
      <div class="conf-order-body">You can go to Orders to view your orders. Current order status is <span class="text-danger">unpaid!</span></div>
      <div class="conf-order-footer">You can check your orders <a class="text-danger" [routerLink]="['/orders']">here!</a></div>
    </section>
  </div>

</div>



