.container{
    display: flex;
    min-height: 15vh;
    flex-wrap: wrap;
}

.container-grid{
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 141px 141px;
  column-gap: 10px;
  row-gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.grid-content{
  text-align: center;
  font-weight: 500;
}

.products-grid-section{
  width: 100%;
}

.section-content{
  display: flex;
  min-height: 15vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
fa-icon{
  font-size: 45px;
  color: wheat;
  stroke: black;
  stroke-width: 10px;
}
.mat-card {
  margin-top: 10px;
  background-color: #F5F5F5;
}
.products-section{
  margin-top: 20px;
  margin-bottom: 20px;
}

.details-close-section{
  display: flex;
    justify-content: center;
}
