.container{
    display: flex;
    min-height: 15vh;
    flex-wrap: wrap;
}

.container-grid{
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 141px 141px;
  column-gap: 10px;
  row-gap: 15px;
  justify-content: space-around;
  align-items: center;
}

.grid-content{
  text-align: center;
}
.section-content{
  display: flex;
  min-height: 15vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
fa-icon{
  font-size: 45px;
}
.mat-card {
  margin-top: 10px;
  background-color: #F5F5F5;
}

.title{
    border-top: 5px solid wheat;
    text-align: center;
    margin-top: 24px;
    padding-top: 12px;
}
.details-column {
    flex-direction: column;
    width: 49%;
    text-align: center;
}

.simple-card{
 border-bottom: 1px solid wheat;
 text-align: center;
 padding: 15px;
}

