<footer>
  <div class="footer" id="footer">
    <div class="container-fluid bg-dark">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        </div>
        <div class="col-lg-3 col-sm-2 col-xs-3">
          <h3> Contact </h3>
          <ul>
            <li><a class="email" href="#"> info@footwear.com </a></li>
            
            <li>
              <p> Brown Bear 55  street </p>
            </li>
            <li>
              <p> Sofia, Bulgaria, 1016 </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-2 col-xs-3">
          <ul>
            <li>
              <h5>
                <a href="#" style="margin-top: 5em"> ABOUT US</a>
                </h5>
            </li>
            <li>
              <h5>
                <a href="#"> Promotions </a>
                </h5>
            </li>
            <li>
              <h5>
                <a href="#"> New trends </a>
               </h5>
            </li>
            <li>
              <h5>
                <a href="#"> Contact Us </a>
               </h5>
            </li>
          </ul>
        </div>

      </div>
    </div>
    </div>

</footer>
